h1 {
    color: rgb(34,34,106);
    text-align: center;
    font-size: 60px;
}
#permFeatData{
    color: black;
}
#content {
    color: black;
}
body{
    background-color:lightblue;
    font-size: smaller;
}
button {
    background-color:rgb(34, 34, 106);
    color: white;
}
#listButton{
    float: right; 
}
.listBox {
     
    padding: 20px; 
    width: 50%;
    margin: 0 auto; 
    
}
/* .featureBox{
    float: right;
    border: 5px solid;

} */
#apiData {
    border: 10px solid white;
    font-size: 20px;
    margin: 50px auto 0;
    width: 50%;
    color: rgb(34,34,106);
    overflow: auto;
}
.tableKey {
    padding-right: 100px; 
}
.permFeaturesTable{
    border: 5px solid white;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 15px;
}

.permFeaturesTable td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.permFeaturesTable tr{
    border-bottom: 1px solid black;
}
.permFeaturesTable tr:last-child {
    border-bottom: none;
}